.company-profile

  %h1 Company

  %ul
    %li
      %p= "#{@company.name.upcase} - #{@company.street1}, #{@company.street2} #{@company.city}, #{@company.state} #{@company.zip}"
    %li
      %p= "#{@company.description}"
    %li
      %p= "Industry: #{@company.industry}"
    %li
      %p= "Size: #{@company.emp_count}"
    %li
      %p= @company.contact_name
    %li
      %p= "#{@company.email} | #{@company.phone} | #{@company.url}"

  =link_to "Edit Company", edit_company_path

  .note-form
    = render partial: 'companies/note'
