.company-profile

  %h1 Company

  %ul
    %li
    - if @address_string.blank?
      %p= "#{@company.name.upcase}"
    - else
      %p= "#{@company.name.upcase} #{@address_string}"
    %li
      %p= "#{@company.description}"
    %li
      %p= "Industry: #{@company.industry}"
    %li
      %p= "Size: #{@company.emp_count}"
    %li
      %p= @company.contact_name
    %li
      %p= "#{@company.email} | #{@company.phone} | #{@company.url}"

  =link_to "Edit Company", edit_company_path

  .note-form
    = render partial: 'companies/note'
