
%h2 Listed Company

= @company.url

%div.notes#notes
  - if logged_in?
    %div.note-form

= simple_form_for [@company, @note] do |f|
  = f.input :content, label: "Note"
  = f.button :submit, "Save Note"

=link_to "Edit Company", edit_company_path

%h2.notes-heading notes
- @company.notes.each do |note|
  %p.note-body= note.content
  %span.timestamp= "#{time_ago_in_words(note.created_at)} ago"
