!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CareerBase
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      %nav
        %ul
          %li.logo CareerBase
          - if !logged_in?
            - unless controller_name == "users"
              %li.rightNav= link_to "Sign Up", new_user_path
            - unless controller_name == "user_sessions"
              %li.rightNav= link_to "Sign In", new_user_session_path
          - else
            %li.leftNav
              %h2= link_to "Add a Company", new_company_path
            %li.leftNav
              %h2= link_to "List current Companies", companies_path
            %li.rightNav
              %h2= link_to "Sign Out", user_session_path, method: :delete
            %li.rightNav
              %h2= link_to "Profile", user_path(current_user)
            %li.rightNav
              %h2= link_to "Home", root_path


    #container
      %section#content
        - flash.each do |key, message|
          %div{ class: "flash-#{key}" }= message
        = yield
